
.checked {
    color: orange;
  }
  .star-rating {
    direction: rtl;
    display: inline-block;
    padding: 2px
}

.star-rating input[type=radio] {
    display: none
}

.star-rating label {
    color: rgb(133, 142, 192);
    font-size: 25px;
    padding: 0;
    cursor: pointer;
}

.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type=radio]:checked ~ label {
    color: #ffbf00
}
